<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- Post Content-->
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p><%= @article.text.html_safe %></p>

            <%= link_to 'Edit', edit_article_path(@article) %> |
            <%= link_to 'Back', articles_path %>
          </div>
        </div>
      </div>
    </article>

    <!-- Comment Section -->
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <%= render @article.comments %>
        </div>
      </div>
    </div>
    <%= render 'comments/form' %>

    <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
      <script src="js/scripts.js"></script>
  </body>
</html>
